<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - ER-Evaluator</title>
    <link rel="stylesheet" href="/css/style-for-login.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="left">
        <div id="showcase">
          <div class="showcase-content">
            <h1 class="showcase-text">
              <strong>
                Generate your entity relationship diagram and evaluate your
                design</strong
              >
            </h1>
            <a
              href="http://localhost:5000/er-tutorial"
              target="_blank"
              class="secondary-btn"
              ><strong>Start a Tutorial</strong>
            </a>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="signin">
          <div class="logo">
            <!-- <img src="" alt="ER-Evaluator" /> -->
            <h1>ER-Evaluator</h1>
          </div>
          <div class="welcome">
            <a href="/users/register">Register</a>

            <a href="/users/login">Sign in</a>
          </div>
        </div>

        <footer id="main-footer">
          <p>Copyright &copy; 2020,ER-Evaluator ALL Rights Reserved</p>
          <div>
            <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
