<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ER-Diagram Practice Solution</title>
    <link rel="stylesheet" href="/css/style-for-other-pages.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <!-- logo -->
        <div class="logo">
          <h2>
            <a href="http://localhost:5000/dashboard"
              >ER-Diagram Practical Solution</a
            >
          </h2>
        </div>

        <!-- navigation bar -->
        <div class="nav">
          <ul>
            <li>
              <a href="http://localhost:5000/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="http://localhost:5000/tutorial" target="_blank"
                >Tutorial</a
              >
            </li>
            <li>
              <a
                href="https://www.guru99.com/er-diagram-tutorial-dbms.html"
                target="_blank"
                >Resources</a
              >
            </li>
            <li>
              <a href="https://www.studiosity.com/" target="_blank">Help</a>
            </li>
            <li>
              <a href="http://localhost:5000/about" target="_blank"
                >About ER-Evaluator</a
              >
            </li>

            <li>
              <a href="/users/logout" class="btn btn-secondary">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="solution">
      <br />
      <h1>Solution1</h1>
      <br />
      <img src="/img/solution1.jpg" alt="" />
      <br />
      <br />
      <br />
    </div>

    <!-- footer -->
    <footer>
      <p id="soluCopyright">
        Copyright &copy; 2020, ER-Evaluator ALL Rights Reserved
      </p>
    </footer>
  </body>
</html>
